<div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
      totam officia sed, aliquam similique laboriosam quidem est, doloremque
      eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
    </p>
    <img
      src="../../assets/ima/empresa-01.jpg"
      alt=""
      class="w-full shadow-inner xl:w-[80%] m-auto"
    />
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
  </p>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
      totam officia sed, aliquam similique laboriosam quidem est, doloremque
      eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
      totam officia sed, aliquam similique laboriosam quidem est, doloremque
      eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
    </p>
    <img
      src="../../assets/ima/empresa-02.jpg"
      alt=""
      class="w-full shadow-inner xl:w-[80%] m-auto"
    />
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel facere ipsum
    totam officia sed, aliquam similique laboriosam quidem est, doloremque
    eveniet impedit accusamus nesciunt assumenda in qui debitis voluptate non?
  </p>
</div>
