<!--img footer -->
<div class="flex items-baseline justify-end mr-3 md:mr-16">
  <img src="../../assets/ima/bgtractor.png" alt="" class="w-[100px] h-[69px]" />
  <img src="../../assets/ima/olivo.png" alt="" class="w-[100px] ml-3 md:ml-10" />
  <img src="../../assets/ima/olivo.png" alt="" class="w-[70px]" />
  <img src="../../assets/ima/olivo.png" alt="" class="w-[50px]" />
  <img src="../../assets/ima/olivo.png" alt="" class="w-[30px]" />
</div>
<!-- footer -->
<section class="p-5 xl:pl-16 xl:pr-16 flex justify-between pb-5 pt-5 bg-black">
  <div id="logo" class="max-w-[150px]">
    <img src="../../assets/ima/logoArbolll.png" alt="Logo" id="ima" />
  </div>
  <div class="flex justify-center gap-2">
    <a
      href="https://www.facebook.com/profile.php?id=100063045589994" target="_blank"
      class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat rounded-full shadow-lg"
    >
      <img
        src="../../assets/ima/icon-facebook-blan.png"
        alt=""
        class="max-w-[50px] transition duration-300 ease-in-out hover:scale-90 hover:border-white hover:border-2 rounded-full"
      />
    </a>
    <a
      href="https://www.instagram.com/servicios_agricolas_zuhagui" target="_blank"
      class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat rounded-full shadow-lg"
    >
      <img
        src="../../assets/ima/icon-instagram-blan.png"
        alt=""
        class="max-w-[50px] transition duration-300 ease-in-out hover:scale-90 hover:border-white hover:border-2 rounded-full"
      />
    </a>
    <a
      href="https://wa.me/34628202022" target="_blank"
      class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat rounded-full shadow-lg"
    >
      <img
        src="../../assets/ima/icon-wasa-blan.png"
        alt=""
        class="max-w-[50px] transition duration-300 ease-in-out hover:scale-90 hover:border-white hover:border-2 rounded-full"
      />
    </a>
  </div>
</section>
