<section class="p-7 pb-24 pt-24 overflow-hidden bg-gray-100">
  <div class="grid grid-cols-1">
    <h1 class="name font-bold text-center pb-16">Servicios</h1>
  </div>

  <div class="grid md:grid-cols-3 grid-cols-1 justify-items-center">
    <div
      class=" rounded overflow-hidden shadow-lg mb-10 xl:max-w-sm bg-white"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <img
        class="w-full h-44 object-cover"
        src="../../../assets/ima/booguey.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Picadura de ramón</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Acordonamiento</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Picadura</span
        >
      </div>
    </div>
    <div
      class=" rounded overflow-hidden shadow-lg mb-10 xl:max-w-sm bg-white"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <img
        class="w-full h-44 object-cover"
        src="../../../assets/ima/tractorespe.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Soluciones fitosanitarias</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Sofatos</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Abonos</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Antiplagas</span
        >
      </div>
    </div>
    <div
      class="rounded overflow-hidden shadow-lg mb-10 xl:max-w-sm bg-white"
      data-aos="fade-right"
      data-aos-duration="1000"
    >
      <img
        class="w-full h-44 object-cover object-top"
        src="../../../assets/ima/currantes.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Trabajos de mantenimiento</div>
        <p class="text-gray-700 text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Varetas</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >Hierba</span
        >
      </div>
    </div>
  </div>
</section>
